body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*Landing page*/
.landing-page{
width: 80%;
height: 500px;
margin-top: 100px;
margin:auto;
}
.landing-div-header{
  width:60%;
  height:30%;
  text-align: center  ;
  margin: 50px auto;
  padding: 20px;
}
.landing-div-header h1{
  font-size: 3rem;
  font-weight: bolder;
}
.landing-div-header p{
  font-size: 2rem;
  font-weight: 200;
  color: gray;
}
.landing-div-footer{
  width:60%;
  height:100px;
  margin: auto;
  margin-top: 100px;
}
.ls-div{
  width:80%;
  height:40px;
  margin: auto;
}

/* login-signup*/
.login-signup{
  width:50%;
  height:400px;
  margin: auto;
  margin-top: 50px; 
}
.header{
  text-align: center;
}

.login-signup-form{
  width:80%;
  height:60%;
  margin: auto;
}



.nav{
  width:100%;
  height:20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.nav-left{
  margin-left: 10px;
}
.nav-left span{
  font-size: 3rem;
}
.nav-right{
  width:60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav-right-user span{
  font-size: 2rem;
}
.dashboard{
  width:80%;
  height: auto;
  margin: auto;
  margin-top: 80px;
}
.table-list{
  width:80%;
  margin: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: 100px;
}
.add{
  margin-top: 20px;
  text-align: center;
}
/*Table*/
.creattable-div{
  margin:50px auto;
  width:60%;
}
.creattable-header {
  font-size: 1rem;
  color:grey;
  width:auto;
  margin: 30px;
}
.creattable-form{
  width:80%;
  margin:auto;
  line-height: 2.5;
}
.creattable-form .form-group{
 width:50%; 
}
.tableview-div{
  width:80%;
  margin:40px auto;
}
.tableview-table{
  width:90%;
  margin :20px auto;
}
.tableview-header span{
  font-size: 1rem;
  color:grey;
  width:auto;
  margin: 30px;
}
.add-row{
  width:200px;
  margin:20px auto; 
}
.actions{
  text-align: center;
  width:auto;
}
.search-container{
  width:50%;
  margin:30px 120px;
  background-color: #e7ebf0;
  height:300px;
  padding-top: 10px;
  border-radius: 10px;
}
.search-bar{
  width:50%;
  border:1px black;
  height:50px;
  margin: 10px auto;
  background-color: white;
  border-radius: 5px;
}
.search-bar input{
  width:80%;
  margin-left:10px;
  margin-top:10px;
  border:0; 
  outline:none; 
  box-shadow:none;
  border-style: none;
}
.filter{
  width:70%;
  margin:40px auto;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
}
.filter .input-group
{
  width:50%;
  margin-right: 20px;
}
.filter-row-entity-name{
  width:40%;
}
